@charset "UTF-8";
/* CSS Document */

body{
	background-color:white;
	margin:0px;
	line-height:1;
}
	
#wrapper{
	height:100%;
	width:100%;
	margin:0%;
}

img {max-width:100%;
-ms-interpolation-mode:bicubic;
}
 
 /*Header---------------------------------------------*/
#header{
	clear:both;
	float:left;
	position:relative;
	margin-top:20px;
	margin-bottom:5%;
	margin-left:7.5%;
}

#header h1{
	padding:auto;
	min-height:70px;
}

.logo, .logo a{
	float:left;
	padding:0;
	margin:0;
	position:relative;
	display: block;
}

.logo img{
	display:block;
}

 /*top nav ------------------------------*/
#topnav{
	float:left;
	color:#906; 
	height:20px; 
	width:350px; 
	margin-left:0%; 
	margin-top:10px;}

#topnav ul {list-style-type:none;}
#topnav li {display:inline; margin-left:15px;}
#topnav a:link {font-family:"Century Gothic"; color:#770062; text-decoration:none; font-size:93.8%;}
#topnav a:visited {font-family:"Century Gothic"; color:#770062; text-decoration:none;font-size:93.8%;}
#topnav a:active {font-family:"Century Gothic"; color:#96C; text-decoration:none;font-size:93.8%;}
#topnav a:hover {font-family:"Century Gothic"; color:#96C; text-decoration:none;font-size:93.8%;}
	
/*image------------------------------*/	

 #image{ display:none;}
/*@media screen and (max-width:500px) {
	#image.hidden {display:none;
	}*/

 /*box nav ALL------------------------------*/
#boxnav {
	clear:both; 
	position:relative; 
	color:#906;  
	width:500px; 
	margin-left:0%;
	top:-30px;
	z-index:100;
	}

#boxnav ul {list-style-type:none; text-align:center; font-family:"Century Gothic"; padding-top:40px; font-size:18px; overflow:hidden}

#boxnav ul li {display:inline;f;loat:left; width:500px; margin-top:0px;margin-left:10px;}
	
#boxnav li.green {width:100px; height:60px;background-color:rgba(180,209,56,1.0); padding-top:40px; padding-bottom:-40px; float:left;}/*background-color:#B4D138; */
#boxnav li.purple {width:100px; height:60px;background-color:rgba(119,0,98,1.0); padding-top:40px; padding-bottom:-40px; float:left;}/*background-color:#770062*/
#boxnav li.blue {width:100px; height:60px; background-color:rgba(0,186,193,1.0);padding-top:40px; padding-bottom:-40px; float:left;}

#boxnav a:visited {color:white; text-decoration:none;}

#boxnav a:link {color:white; text-decoration:none;}
#boxnav a:active {color:white; text-decoration:none;}
#boxnav a:hover {color:white; text-decoration:none;}


#boxnav li.green:visited {background-color:rgba(180,209,56,1.0)}
#boxnav li.green:link {background-color:rgba(180,209,56,1.0)}
#boxnav li.green:active {background-color:rgba(180,209,56,1.0)}
#boxnav li.green:hover {background-color:rgba(180,209,56,0.5)}

#boxnav li.purple:active {background-color:rgba(119,0,98,1.0);}
#boxnav li.purple:hover {background-color:rgba(119,0,98,0.5);}

#boxnav li.blue:active {background-color:rgba(0,186,193,1.0);}
#boxnav li.blue:hover {background-color:rgba(0,186,193,0.5);}

/*contact------------------------------*/
		#contact {
			width:85%;
			height:100px;
			margin-top:0px;
			margin-left:0px;
		}
		
			#contact p {font-family:"Century Gothic"; font-size:100%; color:black; line-height:1.1;}
			
 /*Contact Nav------------------------------*/
#contactnav {
	width:100%; 
	height:50px;
	clear:both;
	}

#contactnav ul {list-style-type:none; font-family:"Century Gothic"; font-size:14px;}

#contactnav ul li { display:inline; margin-top:0px; margin-left:15px;}
	
/**#contactnav li.cell {width:75px; height:100px; background-image:url(../images/cellphone.png);}**/

/**#contactnav li.email {width:100px; height:100px;}*/

/**#contactnav li.linkedin {width:75px; height:100px;}*/

#contactnav a:visited {color:red; text-decoration:none;}
#contactnav a:link {color:red; text-decoration:none;}
#contactnav a:active {color:red; text-decoration:none;}
#contactnav a:hover {color:red; text-decoration:none;}


     /*content------------------------------*/
		#content {
			width:85%;
			height:800px;
			clear:both;
			margin-left:7.5%;
			margin-top:10%;
		}
	
/*sketch Button on Project Pages PAGES------------------------------*/	
#sketch {width:100px; clear:both; float:left; margin-top:-580px; margin-left:680px;border-style:solid; border-color:black;}	
		
#sketch p {font-family:"Century Gothic"; font-size:16px; color:black; line-height:1.1;}

.sketchicon, .sketchicon a{
	float:left;
	padding:0;
	margin:0;
	position:relative;
	display: block;
}

.sketchicon img {display:block;}

/*sketchback PAGES  Back Button ------------------------------*/	
#sketchback {width:200px; float:right; margin-top:-800px; margin-right:0px;}		
#sketchback p {font-family:"Century Gothic"; font-size:16px; color:black; line-height:1.1;}

.sketchback, .sketchback a{
	float:left;
	padding:0;
	margin:0;
	position:relative;
	display: block;
}

.sketchback img {display:block;}
					
     /*sketchcontent Pages of Sketches PAGES------------------------------*/ 
		#sketchcontent {
			width:674px;
			height:800px;
			clear:both;
			margin-left:180px;
			/*--border-style:solid;
			border-color:black;--*/
		}
#sketchcontent p {font-family:"Century Gothic"; font-size:16px; color:black; line-height:1.1;}		
#sketchcontent h1 {font-family:"Century Gothic"; font-size:18px; color:black; line-height:1.1;}

			
/*market 1------------------------------*/
	ul.marketing {list-style-type:none; margin-bottom:20px; margin-left:180px; float:left; display:inline;}
	ul.marketing li {float:left; width:auto; height:100px; margin-bottom:20px;}
	ul.marketing li.img {margin:0; padding:0; width:100px; margin-right:10px;}
	ul.marketing li.text {width:600px; margin-top:-8px;}
	ul.marketing li.text h2 {font-size:14px; font-family:"century gothic";}
	ul.marketing li.text h3 {font-size:12px; font-style:italic;}	

		
 /*MAIN div---------------------------------------------*/	
  #main {
	  	height:340px; 
		width:420px;
		clear:both;
		margin-left:180px;
		border-style:solid;
		border-color:black;
		}
	
	/*printnav PAGES---------------------------------------------*/
		#projectnav {			
					color:#906; 
					height:75px; 
					width:450px;
					float:left; 
					margin-left:180px; 
					margin-top:0px; 
					border-style:solid;
					border-color:black;
				}
			
		#projectnav ul {list-style-type:none;}
		#projectnav li {display:inline; margin-right:50px; margin-left:0px;}		
		#projectnav a:link {font-family:"Century Gothic";}		
		#projectnav a:visited {font-family:"Century Gothic";}		
		#projectnav a:active {font-family:"Century Gothic";}		
		#projectnav a:hover {font-family:"Century Gothic";}

		#projectnav h3{font-family:"century gothic"; font-size:12px; color:black; font-style:italic;margin-top:0px;}
		
		   	 /*caption PAGES---------------------------------------------*/			
			    #caption{
					width:420px;
					margin-left:180px;
					margin-top:0px;
					float:left;
					position:relative;
					border-style:solid;
					border-color:black;
					}
				
				#caption p {font-family:"Garamond"; font-size:16px; color:black; line-height:1.1;}
				#caption p {font-family:"Garamond"; font-size:16px; color:black; line-height:1.1; margin-top:15px;}
				#caption h1 {font-family:"Century Gothic"; font-size:18px; color:black; margin-top:0px; margin-bottom:-5px;}

	   	  /*caption PAGES---------------------------------------------*/			
			 #captiongrocer{
				width:420px;
				margin-left:0px;
				margin-top:0px;
				float:left;
				position:relative;}
				
			 #captiongrocer p {font-family:"Garamond"; font-size:16px; color:black; line-height:1.1; margin-top:15px;}
			 #captiongrocer h1 {font-family:"Century Gothic"; font-size:18px; color:black; margin-top: 20px; margin-bottom:-5px;}







