@charset "UTF-8";
/* CSS Document */

body{
	background-color:white;
	margin:0px;
}
	
#wrapper{
	width:960px;
	height:768px;
}

 /*top nav ------------------------------*/

#topnav{
	float:left; 
	color:#906; 
	width:500px;
	height:20px; 
 	margin-left:10px; 
 	margin-top:10px; 
 	position:relative; 
 	z-index:500;
 }

#topnav ul{
	list-style-type:none;}

#topnav li{
	display:inline;
	margin-left:55px;}

#topnav a:link{
	font-family:"Century Gothic";
	color:#770062; text-decoration:none; font-size:15px;}

#topnav a:visited{
	font-family:"Century Gothic";
	color:#770062; text-decoration:none;font-size:15px;}

#topnav a:active{
	font-family:"Century Gothic";
	color:#96C; text-decoration:none;font-size:15px;}

#topnav a:hover{
	font-family:"Century Gothic";
	color:#96C; text-decoration:none;font-size:15px;}

 /*box nav ------------------------------*/

#boxnav{
	clear:both; 
	position:relative; 
	color:#906; 
	width:50px; 
	height:10px; 
	margin-left:0px; 
	top:115px; 
	z-index:100;
}

#boxnav ul{
	list-style-type:none;
	text-align:center;
	font-family:"Century Gothic";
	padding-top:25px;
	font-size:18px;
	}

#boxnav ul li{
	margin-top:20px;
	}
	
#boxnav li.green{ width:100px; height:60px;background-color:#B4D138; padding-top:40px; padding-bottom:-40px;}

#boxnav li.purple{ width:100px; height:60px;background-color:#770062; padding-top:40px; padding-bottom:-40px;}

#boxnav li.blue{ width:100px; height:60px; background-color:#3DBDB2;padding-top:40px; padding-bottom:-40px;}

#boxnav a:visited{
	color:white; text-decoration:none;}

#boxnav a:link{
	color:white; text-decoration:none;}

#boxnav a:active{
	color:black; text-decoration:none;}

#boxnav a:hover{
	color:black; text-decoration:none;}

#boxnav li.green:hover{ opacity:0.5;}

#boxnav li.purple:active{ opacity:0.5;}
#boxnav li.purple:hover{ opacity:0.5;}

#boxnav li.blue:active{ opacity:0.5;}
#boxnav li.blue:hover{ opacity:0.5;}
	
 
 /*Headers---------------------------------------------*/
 
#header{
	clear:both;
	float:left;
	position:relative;
	margin-left:180px;
	margin-top:20px;
}

#header h1{
padding:auto;
min-height:70px;
}

.logo, .logo a{
	float:left;
	padding:0;
	margin:0;
	position:relative;
	display: block;
}

.logo img{
	display:block;
}

 /*Picture Box---------------------------------------------*/
#picbox{
	width:500px;
	height:300px;
	margin-left:180px;
	top:55px;
	float:left;
	position:relative;
	background-color:#999;
	}
	
 /*Textbox---------------------------------------------*/
#textbox{
	width:650px;
	height:300px;
	margin-left:180px;
	top:95px;
	float:left;
	position:relative;}

p{
	font-family:"Century Gothic";
	font-size:16px;
	color:black;
}

p2{
	font-family:"Century Gothic";
	font-size:18px;
	font-style:italic;
	color:black;
}