@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,700);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {margin:0; padding:0; width: 100%; height: 100%; background-color: white; font-size: 16px; }
	a {text-decoration:none; font-family: 'Open Sans', sans-serif; }
	ul {list-style-type:none;}
	li {list-style-type:none;}
	p {font-family: 'Open Sans', sans-serif; font-size:16px; }

	#logo {
			position: absolute;
			height: 150px; 
			width: 150px; 
			margin: 10px 0px 0px 25px;
			z-index: 10;
			/*@mediaquery to center after small break point, change the size of the icon*/
		}

	#logo img {
		max-width: 100%;
		min-width: 90%;
	}

	#banner {
				height:200px;
	 			width:100%; 
	 			padding: 0;
	 			margin: 0;
	 			position: relative;
	 			background-image: url("file:///Users/Emilycanina/Desktop/CDevonHomes/images/bostonskyline.png");
				background-repeat:no-repeat;
				background-size: cover;
				background-position: bottom;
				border-top: 3px solid rgb(85,141,69);
	 		}
				/*@mediaquery to take away the image and decrease the height*/

/* mainnav */
		#menu-icon {
			width: 32px;
			height: 32px;
			background-image: url("/Users/Emilycanina/Documents/Github/emilycanina.github.io/CDevonHomes2/images/menu.png");
			background-repeat: no-repeat;
			cursor: pointer;
			top: 10px;
			float: right;
			display: none;
			z-index: 10000;
	}


					#mainnav {
								position: absolute;
								height: 40px; 
								width:100%;
								top:170px;
								z-index: 15;
								padding-top: 2px;
								background-color:rgba(255, 255, 255, 0.8);
							}

								#mainnav ul {margin: 0px; padding: 0px;  }
								#mainnav li {
												list-style-type: none; 
												display: inline-block;
												font-size:90%; 
												margin: 0px;; 
											}

										#mainnav a:link {
												display: inline-block; 
												color: black; 
												background-color:rgba(255, 255, 255); 
												padding:8px 18px 8px 18px;
												margin: -2px;
											}
										#mainnav li:first-child{margin-left:45px;}
										#mainnav a:visited {color:black}
										#mainnav a:hover {color:rgb(85,141,69);background-color:rgba(255, 255, 255, 1.0);}
										#mainnav a:active {color:rgb(85,141,69);background-color: white; }

/* paragraph and heading styles */

	h1 {font-family: 'Merriweather', serif; font-size: 250%; color: black;}
	h2 {font-family:'Merriweather', serif;  font-size: 150%; color: black;}
	h3 {font-family:'Merriweather', serif;  font-size: 115%; color: black;}
	p {font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 100%; color: black; }
	#sidebar p {line-height: 1.1em; font-size:16px; color: black;}
	#sidebar a {font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 100%; }

/* classes */
	.center {text-align: center; margin-left: -10px;}
	.centerimg {display: block; margin-left: auto; margin-right: auto;}
	.titleindent {text-indent: 70px;}
	.homeindent {text-indent: 2.5%;}
	.subtitle {font-family: 'Open Sans', sans-serif; font-size: 16px; color: rgb(85,141,69); font-weight: bold;}
	.inline {display: inline; margin-left: 5px; margin-right: 5px;}
	.inline2 {display: inline; margin-left: 2px; margin-right: 2px;}
	.border {border-style:double; border-color:blue;}

/* home page */
	#newsfeed {
				height:auto; 
				width:60%; 
				margin-left:2.5%;
				float:left;				
				border:solid;
				border-color:black;
			}

	#facebookFeeds{ 
			}

	#craigslistFeeds{

			}

	#sidebar {
				height:auto; 
				width:30%; 
				padding:1% 1% 1% 1%;
				margin: 0px 1% 0px 2.5%;
				background-color:#ffddc0;
				float:left;
			}
/*(230,233,222) */
/* credit for the social media icons goes to © 2013 Creative Nerds, Inc. All rights reserved */

/* inside pages */
	#maindiv {
				height: auto; 
				width: 600px; 
				position:relative;
				margin: 0px 0px 30px 50px;
				padding: 30px 0px 30px 0px;
				float: left;
			}

/* about page */
	#apicture {margin-left:20px; float:left;}
		
	#ainfo  {width:365px; height:140px; float:left;}
	#ainfo ul {margin: 0px;}
	#ainfo li {margin-bottom:5px; font-family: 'Open Sans', sans-serif; font-size:14px;}
	#adescription {
					padding:0px 10px 0px 10px; 
					margin:0px 10px 0px 10px;
					float:left;
				}

/* exclusive listings page */

/* team triology page */
		
	#ttjosh  {
				width: 180px; 
				height: 180px; 
				float: left; 
				font-family: 'Open Sans', sans-serif; 
				font-size: 14px;
				margin-left: 20px;
				margin-right: 10px;
			}
	#ttjosh li {margin-left: -40px;}
	#ttdevon  {
				width: 180px; 
				height: 180px; 
				float: left; 
				font-family: arial; 
				font-size: 14px; 
				margin-right: 10px;
			}		
	#ttdevon li {margin-left: -40px;}	

	#ttgreg  {
				width: 180px; 
				height: 180px; 
				float: left; 
				font-family: arial; 
				font-size: 14px; 
			}
	#ttgreg li {margin-left: -40px;}


	#ttdescription {
					padding-left: 10px; 
					padding-right: 10px; 
					margin-left: 10px;
					margin-right: 10px; 
					padding-top: 0px;
					float: left;
				   }


/* inside pages -- sidediv */
			
			/*#sidediv {
						padding: 11px 20px 50px 20px;
						margin-left: 50px; 
						float: left;
					}

			#sidediv ul {margin: 0px; padding: none;}
			#sidediv li {margin-bottom:30px;} */

	
/* footer */

	footer {
		height:auto; 
		width: 100%; 
		font-family: 'Open Sans', sans-serif; font-weight: 400;
		font-size: 14px;
		float: left;
		padding: 5px 5px 50px 25px;
		background-color: rgba(85,141,69, 0.8);
			}
	footer ul{margin: 0px; padding: none;}
	footer li{display: inline-block; margin-left: 0; margin-right: 0;}

	@media screen and (max-width:740px){
		h1{ font-size: 200%; text-align: center;}

	#banner {
		background-image: none;
		background-color:rgb(215,241,217);
		height: 150px;
			}
	#logo{
		width: 30%;
		margin-right:35%;
		margin-left: 35%;
	}
	/* main nav */
	#mainnav {
		text-align:center;
		background-color:none;
		height:auto;
		clear:both;
		position:absolute;
		z-index:10000;
		top:0px;
		padding:5px;
		}

	#mainnav li{ display: block; padding: 1px 0px 1px 0px; margin: 0 0px 0 0px; }

	#mainnav li:first-child {margin-left:0px; }

	#mainnav a:link {
		display: inline-block; 
		color: black; 
		background-color:rgba(225,225,225, 0.75); 
		padding:8px 18px 8px 18px;
		margin: -2px;
		width: 100%;
				}
	#mainnav a:hover {color:rgb(85,141,69);background-color:rgba(215,241,217, 1.0);}
	#mainnav a:active {color:rgb(85,141,69);background-color:rgba(215,241,217, 1.0);}
	#menu-icon {display: block; z-index: 10000;}

	/* side bar */
	#sidebar{ 
		float:none;
		clear: both; 
		width: 100%; 
		margin: 10px 0px 0px 0px;
		padding: 10px 10% 10px 10%;
	}
	#maindiv{width: 90%; margin: 3px 3% 3px 3%;}
	#newsfeed{width: 90%; margin: 3px 3% 3px 3%;}
	footer a{color: white; font-weight: 400;}
	footer p{color: black; font-weight: 500;}


}









