@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,700);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {margin:0; background-color: white; font-size: 16px;}
	a {text-decoration:none; font-family: 'Open Sans', sans-serif; }
	ul {list-style-type:none;}
	li {list-style-type:none;}
	p {font-family: 'Open Sans', sans-serif; font-size:16px; }

	#logo {
			position: absolute;
			height: 150px; 
			width: 150px; 
			margin: 7px 0px 0px 2.5%;
			z-index: 10;
			background: #ffffff no-repeat right top;
			border-radius: 55%; 
		}

	#logo img {
		max-width: 100%;
		min-width: 90%; 
		background-color: rgba(255,255,255 0.7)
	}

	#banner {
				height:200px;
	 			width:100%; 
	 			position: relative;
	 			background-image: url("file:///Users/Emilycanina/Documents/Github/emilycanina.github.io/CDevonHomes2/images/bostonskyline.png");
				background-repeat:no-repeat;
				background-size: cover;
				background-position: bottom;
				border-top: 3px solid rgb(85,141,69);
	 		}
				/*@mediaquery to take away the image and decrease the height*/

/* nav */
#nav {
	position: absolute;
	width:100%;
	height: 40px;
	top:164px;
	padding-top: 2px;
	background-color:rgba(255, 255, 255, 0.85);
	z-index: 10000;
}

	#nav, #nav li {margin: 0; padding:0;}
	#nav li{ float:left; list-style: none outside none; margin-right: 0px;}
	#nav li:first-child {margin-left:2.5%;}
	
	#nav a {
			background: none repeat scroll 0 0 rgba(225,225,225, 0); 
			display: block; 
			padding: 8px 18px;
			color: black;
		}

	#nav a:hover{ background: none repeat scroll 0 0 rgba(255, 255, 255, 1.0); color:rgb(85,141,69) }
	#nav ul {
		background: none repeat scroll 0 0 #FFFFFF;
		border: 1px solid #CCCCCC;
		display: none;
		padding: 0;
		position: absolute;
			}
	#nav ul li {float: none; margin: 0; padding: 0;}
	#nav li:hover > ul { display: block;}
	#nav-wrap {margin-top: 0px;}
	#menu-icon {display: none;}

/* paragraph and heading styles */

	h1 {font-family: 'Merriweather', serif; font-size: 250%; color: black;}
	h2 {font-family:'Merriweather', serif;  font-size: 150%; color: black;}
	h3 {font-family:'Merriweather', serif;  font-size: 115%; color: black;}
	p {font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 100%; color: black; }

/* classes */
	.center {text-align: center; margin-left: -10px;}
	.centerimg {display: block; margin-left: auto; margin-right: auto;}
	.titleindent {text-indent: 70px;}
	.homeindent {text-indent: 2.5%;}
	.subtitle {font-family: 'Open Sans', sans-serif; font-size: 16px; color: rgb(85,141,69); font-weight: bold;}

/* home page */

	#sidebar {
				height:auto; 
				width:25%; 
				padding:1% 3% 1% 3%;
				margin: 0px 1% 0px 2.5%;
				background-color:#ffddc0;
				float:left;
			}
	#sidebar li {display: inline-block; margin-left: 0px;}
	#sidebar ul {margin-left: 0px; padding: none;}
	#sidebar p {line-height: 1.1em; font-size:95%; color: black;}
	#sidebar a {font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 100%; }

		/* news-feed */
			#news-feed {
				height:auto; 
				width:60%; 
				margin-left:2.5%;
				float:left;				
				border: 1px solid black;
					}


					/*(230,233,222) */
					/* credit for the social media icons goes to © 2013 Creative Nerds, Inc. All rights reserved */

/* inside pages */
	#main-div {
				height: auto; 
				width: 600px; 
				position:relative;
				margin: 0px 0px 30px 50px;
				padding: 30px 0px 30px 0px;
				float: left;
			}

	#main-listings {
			display: -webkit-flex;
     		display: flex;
     		-webkit-flex-flow: row wrap;
     		flex-flow: row wrap;
			height: auto; 
			width: 95%; 
			position:relative;
			margin: 0px 2.5% 2.5% 2.5%;
			padding: 2.5% 0px 2.5 0px;
			float: left;
			}

/* about page */
	#about-pic {margin-left:20px; float:left;}
		
	#about-info  {width:365px; height:140px; float:left;}
	#about-info ul {margin: 0px;}
	#about-info li {margin-bottom: 5px; font-family: 'Open Sans', sans-serif; font-size:14px;}
	#about-content {
					padding:0px 10px 0px 10px; 
					margin:0px 10px 0px 10px;
					float:left;
				}

/* exclusive listings page */

			#wrapper {
				position: relative;
				width: 55%;
				left: 0;
				top: 0px;
			}

			#carousel-text{
				width: 40%;
				padding: 2.5% 2.5%;
			}

			#carousel-text h2{font-family:'Merriweather', serif;  font-size: 115%; color: black;}
			#carousel-text h3{font-family:'Open Sans', serif;  font-size: 100%; line-height: 1.3em;}
			#carousel-text p{font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 90%; color: black;}

			#carousel-header{
				width: 55%;
			}
			#carousel-header h2{ font-family:'Open Sans', serif;  font-size: 100%; color: green; line-height: 5.5px;}

			.b1 {width: 55%}
		    .b2 {width: 55%;}
		    .b3 {width: 45%}

			#carousel-wrapper {
				padding-bottom: 10px;
				position: relative;
			}
			#carousel, #thumbs {
				overflow: hidden;
			}
			
			#carousel-wrapper .caroufredsel_wrapper {
				border-radius: 0px;
				box-shadow: none;
			}
			

			#carousel span, #carousel img,
			#thumbs a, #thumbs img  {
				display: block;
				float: left;
			}
			#carousel span, #carousel a,
			#thumbs span, #thumbs a {
				position: relative;
			}
			#carousel img,
			#thumbs img {
				border: none;
				width: 100%;
				height: 100%;
				position: relative;
				top: 0;
				left: 0;
			}

			#carousel span {
				width: 654px;
				height: 313px;
			}

			#thumbs-wrapper {
				padding: 20px 40px;
				position: relative;
			}
			#thumbs a {
				border: none;
				width: 150px;
				height: 100px;
				margin: 0 10px;
				overflow: hidden;
				border-radius: 0px; 
				
				-webkit-transition: border-color .5s;
				-moz-transition: border-color .5s;
				-ms-transition: border-color .5s;
				transition: border-color .5s;
			}
			#thumbs a:hover, #thumbs a.selected {
				border-color: #566;
			}
			
			#wrapper img#shadow {
				width: 0%;
				position: absolute;
				bottom: 0;
			}

			#prev, #next {
				background: transparent url('file:///Users/Emilycanina/Documents/Github/emilycanina.github.io/CDevonHomes2/images/img/gui/carousel_nav.png') no-repeat 0 0;
				display: block;
				width: 19px;
				height: 20px;
				margin-top: -10px;
				position: absolute;
				top: 50%;
			}
			#prev {
				background-position: 0 0;
				left: 10px;
			}
			#next {
				background-position: -19px 0;
				right: 10px;
			}			
			#prev:hover { 
				background-position: 0 -20px;				
			}
			#next:hover {
				background-position: -19px -20px;				
			}
			#prev.disabled, #next.disabled {
				display: none !important;
			}

/* team triology page */
	.trio { float: left; width: 180px; height: 180px; }	
	.trio-text {font-family: 'Open Sans', sans-serif; font-size: 14px; text-align: center; line-height: 5.5px;}
	.trio-img {display: block; margin-left: auto; margin-right: auto; max-width: 60%; max-height: 80%}

	#trio-josh  { width: 180px; height: 180px;}
	#trio-josh p {}
	#trio-josh h3 {color: green; margin-top: }

	#trio-devon  {width: 180px; height: 180px; }		
	#trio-devon p {}	
	#trio-devon h3 {color: green;}	

	#trio-greg  { width: 180px; height: 180px; }
	#trio-greg p {}
	#trio-greg h3 {color: green;}

	#trio-content {
					padding:0px 10px 0px 10px; 
					margin: 0px 10px 0px 10px;
					float: left;
				   }

#respond {
	margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='email'], 
#respond textarea {
	margin-bottom: 10px;
	display: block;
	width: 100%;

	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;

	line-height: 1.4em;
}

/* Client Testimonial Page */
textarea { width: 90%; height: 90%;}


/* footer */
    .c1, .c2, .c3 { width: 30%;}

	footer {
		display: -webkit-flex;
     	display: flex;
     	-webkit-flex-flow: row wrap;
     	flex-flow: row wrap;
		height:auto; 
		width: 97.5%; 
		font-family: 'Open Sans', sans-serif; 
		font-weight: 100;
		float: left;
		padding: 5px 0px 50px 2.5%;
		background-color: rgba(85,141,69, 0.8);
		}	

	footer p{
				font-size: 100%;
				line-height: 0.7em;
			}
		
	footer ul{margin: 0px; padding: none;}
	footer li{display: inline-block; margin: 0; }
	footer h3{line-height: 0.7em; margin-top: 40px;}


/* MEDIA QUERY ----------------------*/

	@media screen and (max-width:670px){
		h1{ font-size: 200%; text-align: center;}
		.titleindent {text-indent: 0px;}
		h2{text-align: center;}

	#banner {
		background-image: none;
		background-color:rgb(215,241,217);
		height: 150px;
			}
	#logo{
		width: 150px;
		margin-right:50%;
		margin-left: 33%;
		border-radius:0; 
		background: none;
	}


	/* main nav - media query */

#nav-wrap{ position: relative;}
#menu-icon{ 
	background: url("file:///Users/Emilycanina/Documents/Github/emilycanina.github.io/CDevonHomes2/images/menu.png") no-repeat scroll 5px center;
	border: none;
	color: rgba(0, 0, 0, 0);
	cursor: pointer;
	display: block;
	height: 40px;
	width: 15%;
	margin-left: 85%;
	top: 0px;
	z-index: 10000;
}

#menu-icon:hover {background-color: none; }
#menu-icon:active { background-color: none;}
#nav {
	background: none repeat scroll rgba(215,241,217, 0.9); 
	clear: both;
	display: none;
	position: absolute;
	top: 40px;
	width: 100%;
	height: 150px;
	z-index: 10000;
	border: 1px solid black;
}

#nav li { clear: both; float: none; margin: 8px 0 8px 0; text-align: center; }
#nav li:first-child {margin: 8px 0 8px 0;}
#nav a, #nav ul a {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #666666;
	display: inline;
	font: inherit;
	padding: 0;
}

#nav a:hover, #nav ul a:hover {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #000000;

}

#nav ul { 
	background: inherit;
	display: block;
	position: static;
	width: auto;
	}

#nav ul li { margin: 3px 0 3px 15px; 	} 

	/* side bar */
	#sidebar{ 
		float:none;
		clear: both; 
		width: 80%; 
		margin: 0%;
		padding: 10px 10% 10px 10%;
	}
	#sidebar a {display: none; }

	#main-div{width: 90%; margin: 3px 5% 3px 5%;}
	#news-feed{width: 90%; margin: 3px 5% 3px 5%;}

	footer {float: none;}
	footer a{color: white; font-weight: 400;}
	footer p{color: black; font-weight: 500; font-size: 120%}
	footer h3{font-size: 140%;}
	
	   .c1 {
        width: 100%;
        -webkit-order: 2;
        order: 2;
      }

      .c2 {
        width: 100%;
        -webkit-order: 1;
        order: 1;
      }

      .c3 {
        width: 100%;
        -webkit-order: 3;
        order: 3;
      }

	.trio { float: none; width: 180px; height: 180px; margin-left: auto; margin-right: auto;}	
	.trio-text {
				font-family: 'Open Sans', sans-serif;
			 	font-size: 14px; 
			 	margin-top: 15px;
			 }
	.hide{display: none;}

	   .b1 {
        width: 100%;
        -webkit-order: 1;
        order: 1;
        margin-right: auto;
        margin-left: auto;
      }

      .b2 {
        width: 100%;
        -webkit-order: 2;
        order: 2;
        margin-right: auto;
        margin-left: auto;
      }

      .b3 {
      	width: 100%;
        -webkit-order: 3;
        order: 3;
        margin-right: auto;
        margin-left: auto;

      }

		#wrapper, #carousel-text, #carousel-header{ width: 80%; }
}




